</div>
</body>
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/summernote/dist/summernote.js"></script>
<script src="/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/home.js"></script>
</html>